extends layout

block content
    div.outer-row
        div.hero-wrapper
            div.hero--image
            div.hero--band
                div.container-fluid
                    div.row
                    div#findYourDoApp
