nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="/").navbar-brand Home
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                each navItem in nav
                    -var className
                    -if (activeNavItem === navItem.text)
                        -className = 'active'
                    -else
                        -className = ''
                    li(class=className): a(href=navItem.link) #{navItem.text}

